<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
</head>
<body>
<h2>Bem-vindo!</h2>
<div sec:authorize="isAuthenticated()">
    <p>Usuário logado: <span sec:authentication="name"></span></p>
    <a th:href="@{/logout}">Sair</a>
</div>
<div sec:authorize="!isAuthenticated()">
    <p><a th:href="@{/login}">Entrar</a></p>
</div>
<p><a th:href="@{/user}">Área do Usuário</a></p>
<p><a th:href="@{/admin}">Área do Admin</a></p>
</body>
</html>